 <%# ここからGoogleAPI %>
       <div id="map"></div>

    <script>
        const mapEle = document.getElementById('map');

        function initialize() {
            var location = { lat: 35.658746, lng: 139.745465 }//東京タワー
            // 地図初期化
            var map = new google.maps.Map(mapEle, {
                zoom: 2,
                center: location
            });
        };
    </script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBI4wIgWynv4jemfw_FpI4tNFpQbb74tU&callback=initialize"></script>